/*tags*/
body{
	font-family: 'Montserrat', sans-serif;
}


/*title*/
#title{
	background-color: #ff4c68;
	color: white;
}

#title h1, h1{
	font-family: 'Montserrat',sans-serif;
	font-weight: 900;
	line-height: 1.5;
	font-size: 3rem;
}

.container-fluid{
	padding: 4% 15% 8%;
}

.navbar{
	padding: 0 0 4rem;
}

.navbar-brand{
	font-family: 'Ubuntu';
	font-size: 2rem;
}

.nav-item{
	padding: 0 20px;
}

.nav-link{
	font-size: 1.2rem;
	font-weight: 400;
}

.bdy{
	/*padding: 4.5rem 0;*/
}

.download-btn{
	margin: 8% 5% 8% 0;
}

.image{
	width: 60%;
	transform: rotate(25deg);
	margin: 0 10%;
	position: absolute;
}


/*features*/
#features{
	background-color: white;
	padding: 8% 10%;
	position: relative;
	/*top: -200px;*/
	/*z-index: 1;*/
}


.feat-col{
	padding:0 5%;
	margin-bottom: 45px;
	text-align: center;
}

.feat-col i{
	padding-bottom: 20px;
	font-size: 45px;
	color: #ef8172;	
}

.feat-col i:hover{
	color: #ff4c68;
}

.feat-col p, p{
	color: #a1a1a1;
}

/*testimonials*/
#testimonials{
	background-color: #ff4c68;
	text-align: center;
	/*padding: 8% 15%;*/
	color: white;
}

#testimonials h2, h2{
	font-family: 'Montserrat',sans-serif;
	font-weight: 700;
	line-height: 1.5;
	font-size: 2.5rem;
}

h3{
	font-family: 'Montserrat',sans-serif;
	font-weight: 500;
	line-height: 1.5;
	font-size: 2.5rem;
}

#testimonials img{
	border-radius: 50%;
	width: 18%;
	margin: 20px;
}

.carousel-item{
	padding: 8% 15%; 
}


/*press*/
#press{
	background-color: #ff4c68;
	text-align: center;
	padding: 0 0 10%;
}

#press img{
	width: 15%;
	padding: 0 2rem;
}


/*pricing*/
#pricing{
	padding: 100px;
	text-align: center;
}

.price-col{
	padding: 5% 3%;
}


/*cta*/
#cta{
	padding: 60px 60px 150px;
	background-color: #ff4c68;
	text-align: center;
}

#cta h3{
	padding: 5% 10%;
	font-family: "Montserrat";
	font-weight: 900;
	line-height: 1.5;
	color: white;
	font-size: 3rem;
}

#cta button{
	margin: 0 20px;
}


/*footer*/
#footer{
	padding: 100px 60px 40px;
	text-align: center;
}

#footer i{
	margin: 0 10px 30px;
}


/*foot*/
#foot i{
	background-color: white;
	font-size: 1.5rem;
	padding: 5px 10px;
	color: #ff4c68;
	border: 2px solid #ff4c68;
	float: right;
	position: relative;
	right: 30px;
	bottom: 20px;
	border-radius: 50%;
}

/*Media*/
@media (max-width: 1100px){
	.image{
		transform: rotate(0deg);
		position: static;
		display: block;
		margin: 0 auto;
	}

	.head{
		text-align: center;
		padding-left: 0;
		padding-right: 0; 
	}

	#press img{
		width: 20%;
		padding: 1.5rem;
	}

}

@media (max-width:1088px) and (min-width:950px){
	.download-btn{
	margin: 3% 0.5% 3% 0;
	}
}

/*@media (max-width:990px) and (min-width: 750px){
	#title .row{
		text-align: left;		
	}
	.image{
		margin-left: 0; 
	}
}*/

@media (max-width: 650px){
	#press img{
		width: 20%;
		padding: 0.5rem;
	}
}